<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Title -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- Fontfaces CSS-->
    <link href="/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!-- Bootstrap CSS-->
    <link href="/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- admin/vendor CSS-->
    <link href="/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    {#<link rel="stylesheet" type="text/css" href="/admin/vendor/bootstrap/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="/admin/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendor/daterangepicker/daterangepicker.css">
    <!-- Icon CSS-->
    <link rel="icon" type="image/png" href="admin/images/icon/favicon.ico"/>
    <!-- Main CSS-->
    <link href="/admin/css/theme.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/main.css">
    <!-- BureauCard -->
    <link href="/admin/css/bureauCard.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Cours Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body class="animsition">
<div class="page-wrapper">

{% include "admin/headerMobile.html.twig"%}
{% block body %}{% endblock %}

</div>
<!-- Jquery JS-->
<script src="/admin/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/admin/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="/admin/vendor/bootstrap/js/popper.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- /admin/vendor JS       -->
<script src="/admin/vendor/slick/slick.min.js">
</script>
<script src="/admin/vendor/wow/wow.min.js"></script>
<script src="/admin/vendor/animsition/animsition.min.js"></script>
<script src="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/admin/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/admin/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/admin/vendor/select2/select2.min.js"></script>
<script src="/admin/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/admin/vendor/countdowntime/countdowntime.js"></script>

<!-- Main JS-->
<script src="/admin/js/main.js"></script>
<script src="/admin/js/mainAddCours.js"></script>

{% block javascripts %}{% endblock %}

</body>
</html>

