<!-- Footer section -->
<footer>
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="1.6s">
                <h3>Ou nous trouver ?</h3>
                <p>Groupe scolaire l'école des clémentières</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11160.57429522792!2d4.9317681!3d45.627852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde6015539a3007bc!2sGroupe+scolaire+Les+Cl%C3%A9menti%C3%A8res!5e0!3m2!1sfr!2sfr!4v1543503133869" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>                {#<p><a href="https://goo.gl/maps/RzE6Vpcso7o" target="_blank"> 6 Chemin de Tholome, Chaponnay, France</a></p>#}
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="1.9s">
                <h4 style="color: white">Notre chaîne Youtube</h4>
                <a href="https://www.youtube.com/channel/UC7LeAR1y8GQwtY_H_HR2KQQ" target="_blank" style="color: white"><i class="fab fa-youtube fa-3x"></i></a>
                <h4 style="color: white; padding-top: 20px">Site réalisé par :</h4>
                <p>Lauriane Chauvet <a href="https://github.com/Poussinou05" target="_blank" style="color: white"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/lauriane-chauvet/" target="_blank" style="color: white"><i class="fab fa-linkedin fa-lg"></i></a></p>
                <p>Jef De Conti <a href="https://github.com/JefDc" target="_blank" style="color: white"> <i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/jef-de-conti-php/" target="_blank" style="color: white"><i class="fab fa-linkedin fa-lg"></i></a></p>
                <p>David Gabriele <a href="https://github.com/gbrle" target="_blank" style="color: white"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/david-gabriele/" target="_blank" style="color: white"> <i class="fab fa-linkedin fa-lg"></i></a></p>
                <p>Thierry Salvan <a href="https://github.com/Isandre47" target="_blank" style="color: white"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/thierry-salvan-56126532/" target="_blank" style="color: white"> <i class="fab fa-linkedin fa-lg"></i></a></p>
                <p>Francisco Beron Perez <a href="https://github.com/Francisco38" target="_blank" style="color: white"><i class="fab fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/francisco-beron-perez-104795170/" target="_blank" style="color: white"> <i class="fab fa-linkedin fa-lg"></i></a></p>
                <p class="mentions"><a href="{{ path('mentions_legales') }}" style="color: white">Mentions Légales</a></p>
            </div>

        </div>
        <div class="row wow fadeInUp" data-wow-delay="1.6s">
        </div>
    </div>
</footer>
