<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>{% block title %}Chapo - clac{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- stylesheets css -->
    <link rel="stylesheet" href="../users/css/bootstrap.min.css">

    <link rel="stylesheet" href="../users/css/magnific-popup.css">

    <link rel="stylesheet" href="../users/css/animate.min.css">
    <link rel="stylesheet" href="../users/css/font-awesome.min.css">

    <link rel="stylesheet" href="../users/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../users/css/nivo_themes/default/default.css">

    <link rel="stylesheet" href="../users/css/hover-min.css">
    <link rel="stylesheet" href="../users/css/flexslider.css">

    <link rel="stylesheet" href="../users/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- Navigation section -->

{% include 'user/navbar.html.twig' %}

<!-- page d un articles -->
{% block body %}

    <!-- Feature section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                    <h2>Mentions Légales</h2>
                </div>
            </div>
        </div>
            <div>
                <p>
                <h3 class="text-primary"><b>Association Chapo-Clac, loi 1901</b></h3>

                place de la mairie 69970 Chaponnay</br></br>

                    Président de l’association : Evelyne Pouvreau</br></br>

                    Contact : burochapoclac@free.fr</br>

                <h3 class="text-primary"><b>Présentation du site</b></h3>
                    Le présent site internet a été réalisé par Jef De Conti, David Gabriel, Francisco Beron Perez, Thierry Salvan et Lauriane Chauvet et se trouve être la propriété de l’association Chapo-Clac.

                    Le directeur de la publication est Evelyne Pouvreau


                <h3 class="text-primary"><b>Hébergement du site internet</b></h3>
                    Le site est hébergé chez OVH.com

                    Adresse: 2 rue Kellermann - 59100 Roubaix - France

                    Téléphone: 0972101010

                    Directeur général : Miroslaw KLABA


                <h3 class="text-primary"><b>Conditions générales d'utilisation</b></h3>
                    En vous rendant sur ce site, vous acceptez totalement et sans nuances les conditions générales présentes sur cette page. Ces conditions pouvant être modifiées à tout moment, les utilisateurs du site sont donc invités à venir consulter cette page régulièrement.


                <h3 style="text-indent: 30px">1.Description du site</h3>

                    Chapo-Clac.fr est le site de l’association Chapo-Clac invitant à découvrir l’activité de cette dernière, à savoir l’enseignement du théâtre par le biais de cours pour amateurs.

                    Malgrés des efforts constant pour fournir l’information la plus juste possible, Chapo-Clac ne sera en aucun cas tenu responsable des omissions, inexactitudes ou manquements suite à la publication d’un article, commentaire, vidéo ou tout autre forme de communication sur le site.


                <h3 style="text-indent: 30px">2.Limitations des responsabilités</h3>

                    Chapo-Clac ne sera pas tenu responsable des dommages et préjudices directs ou indirects, physiques ou moraux, qu’une communication sous toutes ses formes sur Chapo-Clac de la part d’un utilisateur ou de l’auteur du présent site pourrait entraîner.

                    De même, le site internet ne pourra être tenu responsable des dommages matériels ou techniques suite à son utilisation.

                    De manière général, tous dommages sous toutes formes liés à l’utilisation du site Chapo-Clac ne pourra tenir comme responsable le présent site.


                <h3 style="text-indent: 30px">3.Propriété intellectuelle</h3>

                    L’intégralité du contenu écrit publié sur le site par l’association est sa propriété. Toute reproduction partielle ou totale de ce contenu est strictement interdite sans une autorisation préalable écrite et signée de la part du directeur de publication.

                    En ne respectant pas la propriété intellectuelle, le fautif pourra faire l’objet de poursuites judiciaires.

                    L’intégralité des images sont la propriété de l’association, tirées de bibliothèques libres de droit ou bien généreusement offertes par d’anciens élèves.


                <h3 style="text-indent: 30px">4.Données personnelles</h3>

                    L’utilisation du site ne requiert aucune communication de données personnelles et peut se faire dans l’anonymat le plus complet.

                    Concernant les formulaires de contact et d’inscription, une adresse mail, un nom ainsi qu’éventuellement quelques informations personnelles seront demandées afin de faciliter la mise en relation. Aucune utilisation commerciale ne sera faite avec ces données.

                    Cependant, si l’utilisateur souhaite une destruction des données le concernant, conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, il dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.

            </div>

    </div>

        {% endblock %}
    </div>
</section>


<!-- javscript js -->
<script src="../users/js/jquery.js"></script>
<script src="../users/js/bootstrap.min.js"></script>

<script src="../users/js/jquery.magnific-popup.min.js"></script>

<script src="../users/js/jquery.sticky.js"></script>
<script src="../users/js/jquery.backstretch.min.js"></script>

<script src="../users/js/isotope.js"></script>
<script src="../users/js/imagesloaded.min.js"></script>
<script src="../users/js/nivo-lightbox.min.js"></script>

<script src="../users/js/jquery.flexslider-min.js"></script>

<script src="../users/js/jquery.parallax.js"></script>
<script src="../users/js/smoothscroll.js"></script>
<script src="../users/js/wow.min.js"></script>

<script src="../users/js/custom.js"></script>


{% block javascripts %}{% endblock %}
</body>
</html>